@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  transition: 0.2s ease-in-out;
}

:root {
  --dark-100: #222831;
  --dark-200: #393e46;
  --teal-100: #00adb5;
  --white-100: #eeeeee;
}

body {
  background-color: var(--dark-100);
  color: var(--white-100);
}
